* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

#grid {
  display: flex;
  flex-direction: row;
  border: 4px solid rgb(180, 180, 180);
  width: 40vw;
  height: 40vw;
  flex-wrap: wrap;
}

#grid div {
  width: 20%;
  height: 20%;
  border: 4px solid rgb(180, 180, 180);
  font-size: 4vw;
  text-align: center;
}

header {
  display: flex;
  width: 40vw;
  border: 8px solid rgb(180, 180, 180);
  border-bottom: 4px;
}

#HV, #HS, #S {
  flex: 1;
  padding: 2vw;
  font-size: 1.3vw;
}

@media (max-width: 1000px){
  #grid{
    width: 60vw;
    height: 60vw;
  }
  header{
    width: 60vw;
  }
}
#grid div {
  font-size: 6vw;
}
