@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins';
  touch-action: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

#grid {
  display: flex;
  flex-direction: row;
  border: 0.5vh solid rgb(180, 180, 180);
  background-color: rgb(180, 180, 180);
  width: 80vh;
  height: 80vh;
  flex-wrap: wrap;
}

#grid div {
  width: 20%;
  height: 20%;
  border: 0.5vh solid rgb(180, 180, 180);
  font-size: 6vh;
  text-align: center;
  line-height: 200%;
}

header {
  display: flex;
  width: 80vh;
  border: 1vh solid rgb(180, 180, 180);
  border-bottom: 0.5vh;
  padding: 2vh;
  margin: -1px;
}

#HV, #HS, #S {
  flex: auto;
  padding: auto;
  font-size: 2vh;
}

#end-screen {
  display: none;
  flex: none;
  position: absolute;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.719);
  width: 100vw;
  height: 100vh;
  padding-top: 25vh;
  font-size: 3vh;
}

#end-screen button {
  width: 20vh;
  font-size: 2vh;
}


@media all and (orientation:portrait){
  #grid{
    width: 80vw;
    height: 80vw;
    border: 0.5vw solid rgb(180, 180, 180);
  }
  header{
    width: 80vw;
    padding: 2vw;
    border: 1vw solid rgb(180, 180, 180);
    border-bottom: 0.5vw;
  }
  #grid div {
    font-size: 6vw;
    border: 0.5vw solid rgb(180, 180, 180);
  }
  #end-screen {
  font-size: 3vw;
  height: 100vw;
  padding-top: 25vw;
  }
  #end-screen button {
    width: 20vw;
    font-size: 2vw;
  }
  #HV, #HS, #S {
    font-size: 2vw;
  }
}

