* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

#grid {
  display: flex;
  flex-direction: row;
  border: 4px solid rgb(180, 180, 180);
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

#grid div {
  width: 20%;
  height: 20%;
  border: 4px solid rgb(180, 180, 180);
  font-size: 50px;
  text-align: center;
}